<h1> VIEW OPERATIONS</h1>

<hr class="hr-2 bg-primary">

<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-25 mx-auto rounded">Login</h1>
@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
<div class="winner">
    <div class="mx-auto">
        <div class="d-flex justify-content-center">
            <label class="text-primary h5">Username</label>
        </div>
    </div>
    <hr class="hr-2 bg-primary">
    <div class="">
        <div class="d-flex justify-content-center">
            <label class="text-primary h5">Password</label>
        </div>
    </div>
    <hr class="hr-2 bg-primary">
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary font-weight-bold">Log in</button>
    </div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
