
@using ACTO.Web.InputModels.Excursions

@model TicketCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="hr-2 bg-primary mt-4">
<h1 class="bg-primary text-white font-weight-bold text-warning text-center p-3 w-60 mx-auto rounded">Create Ticket</h1>

<hr class="hr-2 bg-primary mt-4">
@* here below, is how we insert files/pictures*@
<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3">
    <div asp-validation-summary="ModelOnly"></div>

    <input hidden readonly type="number" asp-for=ExcursionId value=@Model.ChosenExcursion.Id>
    <div id="second-separator" class="d-flex justify-content-between">
        <div id="customer-first-name" class="form-group mx-auto w-45">
            <div class="form-group mx-auto w-45">
                <label asp-for=Customer.FirstName class="text-primary h5">First name</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="customer-first-name-id"
                   placeholder="FIrst name..."
                   asp-for=@Model.Customer.FirstName>
            <span asp-validation-for=@Model.Customer.FirstName class="text-danger"></span>
        </div>

        <div id="customer-last-name" class="form-group mx-auto w-45">
            <div class="form-group mx-auto w-45">
                <label asp-for=@Model.Customer.LastName class="text-primary h5">Last name</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="customer-last-name"
                   placeholder="Last name..."
                   asp-for=@Model.Customer.LastName>
            <span asp-validation-for=@Model.Customer.LastName class="text-danger"></span>
        </div>
    </div>


    <hr class="hr-2 bg-primary mt-4">
    <div id="first-separator" class="d-flex justify-content-between">
        <div id="adult-count" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.AdultCount class="text-primary h5">Adult count</label>
            </div>
            <input type="number"
                   class="form-control text-primary text-center"
                   placeholder="Adult count..."
                   asp-for=@Model.AdultCount>
            <span asp-validation-for=@Model.AdultCount class="text-danger"></span>
        </div>
        <div id="adult-price" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.ChosenExcursion.PricePerAdult class="text-primary h5">Price per Adult</label>
            </div>
            <input readonly type="number"
                   class="form-control text-primary text-center"
                   value=@Model.ChosenExcursion.PricePerAdult
                   asp-for=@Model.ChosenExcursion.PricePerAdult>
        </div>

        <div id="children-count" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.ChildCount class="text-primary h5">Children Count</label>
            </div>
            <input type="number"
                   class="form-control text-primary text-center"
                   placeholder="Children count..."
                   asp-for=@Model.ChildCount>
            <span asp-validation-for=@Model.ChildCount class="text-danger"></span>
        </div>
        <div id="child-price" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.ChosenExcursion.PricePerChild class="text-primary h5">Price per child</label>
            </div>
            <input readonly type="number"
                   class="form-control text-primary text-center"
                   value=@Model.ChosenExcursion.PricePerChild
                   asp-for=@Model.ChosenExcursion.PricePerChild>
        </div>
    </div>

    <hr class="hr-2 bg-primary mt-4">

    <div class="d-flex justify-content-center mt-3">
        <div id="discount" class="form-group mx-auto w-45">
            <div>
                <label asp-for=Discount class="container-fluid text-center text-primary h5"></label>
                <input type="number"
                       class="form-control text-primary text-center"
                       min=0
                       max=100
                       asp-for=Discount>

                <span asp-validation-for=Discount class="text-danger"></span>
            </div>
        </div>
    </div>

    <hr class="hr-2 bg-primary mt-4">
    <div class="separator d-flex justify-content-between">
        <hr class="hr-2 bg-primary mt-4">
        <div id="total-count" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=TouristCount class="text-primary h5"></label>
            </div>
            <input readonly type="number"
                   class="form-control text-primary text-center"
                   asp-for=TouristCount>

            <span asp-validation-for=TouristCount class="text-danger"></span>
        </div>

        <div id="sum-after-discoun" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=SumAfterDiscount class="text-primary h5"></label>
            </div>
            <input readonly type="number"
                   class="form-control text-primary text-center"
                   asp-for=SumAfterDiscount>

            <span asp-validation-for=SumAfterDiscount class="text-danger"></span>
        </div>

    </div>
    <hr class="hr-2 bg-primary mt-4">

    <div class="d-flex justify-content-between separator">
        <div id="language-type" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=TourLanguageId class="text-primary h5">Choose Language</label>
            </div>
            <select class="form-control text-primary" id="language-type-id" asp-for=TourLanguageId>
                <option selected disabled>--- Select one language ---</option>
                @foreach (var type in Model.PossibleLanguages)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
        </div>

        <div id="notes" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=Notes class="text-primary h5">Additional notes</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="notes-id"
                   placeholder="Additional notes..."
                   asp-for=Notes>

            <span asp-validation-for=Notes class="text-danger"></span>
        </div>
    </div>


    <hr class="hr-2 bg-primary mt-4">
    <div id="fourth-separator" class="d-flex justify-content-between">
        <div id="start-point" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=StartPoint class="text-primary h5">Start point</label>
            </div>
            <input readonly type="text"
                   class="form-control text-primary text-center"
                   id="start-point-id"
                   value=@Model.ChosenExcursion.StartPoint
                   asp-for=@Model.ChosenExcursion.StartPoint>
        </div>
        <div id="end-point" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=EndPoint class="text-primary h5">End point</label>
            </div>
            <input readonly type="text"
                   class="form-control text-primary text-center"
                   id="end-point-id"
                   value=@Model.ChosenExcursion.EndPoint
                   asp-for=@Model.ChosenExcursion.EndPoint>
        </div>
    </div>
    <hr class="hr-2 bg-primary mt-4">

    <div id="fifth-separator" class="d-flex justify-content-between">
        <div id="departure" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=Departure class="text-primary h5">Departure</label>
            </div>
            <input readonly type="datetime"
                   class="form-control text-primary text-center"
                   id="departure-id"
                   value=@Model.ChosenExcursion.Departure
                   asp-for=@Model.ChosenExcursion.Departure>
        </div>
        <div id="arrival" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=Arrival class="text-primary h5">Arrival</label>
            </div>
            <input readonly type="datetime"
                   class="form-control text-primary text-center"
                   id="arrival-id"
                   value=@Model.ChosenExcursion.Arrival
                   asp-for=@Model.ChosenExcursion.Arrival>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <button formmethod="post" asp-area="Excursion" asp-controller="Representative" asp-action="TicketCreate"  class="btn btn-primary font-weight-bold">Go To Sale</button>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button formmethod="post" asp-action="TicketCreateAnother" asp-area="Excursion" asp-controller="Representative" class="btn btn-primary font-weight-bold">Create Another ticket</button>
    </div>

    @if (Model.AnyTickets == true)
    {
        <div class="d-flex justify-content-center mt-3">
            <button formmethod="post" asp-action="RemoveAllPending" asp-area="Excursion" asp-controller="Representative" class="btn btn-primary font-weight-bold">Remove All Pending</button>
            <input readonly hidden type="number" asp-for=@Model.SaleId value=@Model.SaleId />
        </div>
    }

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*//TODO: attach this to the above for dateTime visualizer!*@

<script src="~/js/site.js"></script>
<script>
    window.onload = () => {
        $('#arrival-time-input').datetimepicker({
            format: 'd.m.Y H:i',
            lang: 'en'
        });
        $('#departure-time-input').datetimepicker({
            format: 'd.m.Y H:i',
            lang: 'en'
        })

    };
</script>
