@page
@model LogoutModel
@using ACTO.Web.Areas.Identity.Pages.Account

@{
    ViewData["Title"] = "Log out";
}

<h1>You have successfully logged out of the application.</h1>
@*<partial name="/Areas/Identity/Pages/Account/Login.cshtml" model="mode")*@