<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stopify.Web</title>

    @*below are the sequence of the resources for css-related*@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.datetimepicker.full.min.js"></script>

</head>
<body>
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
        <partial name="/Views/Shared/Headers/AdminHeaders.cshtml" />
    }
    else if (this.User.Identity.IsAuthenticated && this.User.IsInRole("User"))
    {
        <partial name="/Views/Shared/Headers/UserHeaders.cshtml" />
    }
    else
    {
        <partial name="/Views/Shared/headers/AnonymousHeaders.cshtml" />
    }
    <div class="container-fluid">
        <main class="mt-3 mb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="bg-primary rounded">
            <div class="text-white p-3 text-center font-weight-bold">
                &copy; CopyRight Sanity Web Design Studios 2019. All rights
                reserved.
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
