
@using ACTO.Web.InputModels.Excursions
@model ExcursionCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="hr-2 bg-primary mt-4">
<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Details of excursion</h1>

<hr class="hr-2 bg-primary mt-4">

<form method="post" asp-action="EditExcursion" asp-area="Excursion" asp-controller="ExcursionOperator" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div id="first-separator" class="d-flex justify-content-between">
        <div id="arrival-time" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.Arrival class="text-primary h5">Arrival time</label>
            </div>
            <input type="text"

                   class="form-control text-primary text-center"
                   id="arrival-time-input"
                   placeholder="Arrival time..."
                   asp-for=@Model.Arrival>
            @*//TODO: HERE ADD to some format!*@
            <span asp-validation-for=@Model.Arrival class="text-danger"></span>
        </div>

        <div id="departure-time" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.Departure class="text-primary h5">Departure time</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="departure-time-input"
                   placeholder="Departure time..."
                   asp-for=@Model.Departure>
            @*//TODO: HERE ADD to some format!*@
            <span asp-validation-for=@Model.Departure class="text-danger"></span>
        </div>
    </div>

    <hr class="hr-2 bg-primary mt-4">

    <div id="second-separator" class="d-flex justify-content-between">
        <div id="start-point" class="form-group mx-auto w-45">
            <div class="form-group mx-auto w-45">
                <label asp-for=@Model.StartingPoint class="text-primary h5">Start point</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="start-point-input"
                   placeholder="Start point..."
                   asp-for=@Model.StartingPoint>
            <span asp-validation-for=@Model.StartingPoint class="text-danger"></span>
        </div>

        <div id="end-point" class="form-group mx-auto w-45">
            <div class="form-group mx-auto w-45">
                <label asp-for=@Model.EndPoint class="text-primary h5">End point</label>
            </div>
            @*step="0.01" means stepper +0.01! for numbers only !!!! silly!*@
            <input type="text"
                   class="form-control text-primary text-center"
                   id="end-point-input"
                   placeholder="End point..."
                   asp-for=@Model.EndPoint>
            <span asp-validation-for=@Model.EndPoint class="text-danger"></span>
        </div>
    </div>

    <hr class="hr-2 bg-primary mt-4">

    <div id="third-separator" class="d-flex justify-content-between">
        <div id="excursion-price" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.Price class="text-primary h5">Price</label>
            </div>
            <input type="number"
                   class="form-control text-primary text-center"
                   id="picture"
                   placeholder="Price..."
                   min="0.00"
                   asp-for=@Model.Price>

            <span asp-validation-for=@Model.Price class="text-danger"></span>
        </div>

        <hr class="hr-2 bg-primary mt-4">
        <div id="excursion-type" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.ExcursionTypeId class="text-primary h5">Excursion type</label>
            </div>

            <select class="form-control text-primary" id="excursion-type-input" asp-for=@Model.ExcursionTypeId>
                <option selected disabled>--- Select excursion type ---</option>
                @foreach (var type in Model.ExcursionTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
        </div>
    </div>

    <hr class="hr-2 bg-primary mt-4">

    <div id="fourth-separator" class="d-flex justify-content-between">
        <div id="tourist-capacity" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.TouristCapacity class="text-primary h5">Tourist Capacity</label>
            </div>
            <input type="number"
                   class="form-control text-primary text-center"
                   id="tourist-capacity-input"
                   placeholder="Tourist capacity..."
                   min="0"
                   asp-for=@Model.TouristCapacity>
            <span asp-validation-for=@Model.TouristCapacity class="text-danger"></span>
        </div>

        <div id="languages" class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for=@Model.LanguageIds class="text-primary h5">Language type</label>
            </div>

            <select class="form-control text-primary" multiple="multiple" id="languages-input" asp-for=@Model.LanguageIds>
                <option selected disabled>--- Select single or multiple languages ---</option>
                @foreach (var type in Model.Languages)
                {
                    <option  value="@type.Id">@type.Name</option>
                }
            </select>
        </div>
        <div>
            <input hidden type="text" asp-for=@Model.Id>
        </div>
    </div>
    <hr class="hr-2 bg-primary mt-4">

    <button class="btn btn-primary font-weight-bold  d-flex ">Edit excursion</button>

</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*//TODO: attach this to the above for dateTime visualizer!*@
<script>
    window.onload = () => {
        $('#arrival-time-input').datetimepicker({
            format: 'd.m.Y H:i',
            lang: 'en'
        });
        $('#departure-time-input').datetimepicker({
            format: 'd.m.Y H:i',
            lang: 'en'
        })
    };
</script>
